html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto-Regular'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Roboto", sans-serif; 
    margin: 0;
    background-color: #E3E3E3;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.wrapper-container {
    width: 660px;
    background-color: #C4C4C4;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 100vh;
}

.container {
    width: 500px;
}

.search-wrapper {
    margin-bottom: 40px;
}

.search-input {
    width: 100%;
    height: 60px;
    padding: 10px;
    font-size: 48px;
    background-color: #FFFFFF;
    border: none;
    outline: none;
}

.search-input::placeholder {
    font-size: 40px;
}

.autocomplete-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #E3E3E3;
    z-index: 10;
}

.autocomplete-item {
    padding: 5px 10px;
    font-size: 30px;
    line-height: 100%;
    height: 44px;
    border: 2px solid #000000;
    border-top: none;
    cursor: pointer;
    transition: background-color 0.2s cubic-bezier(0, 0, 0.7, 1);
}

.autocomplete-item:first-child {
    border-top: 2px solid #000000;
}

.autocomplete-item:hover {
    background-color: #65CDF9;
}

.repo-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.repo-card {
    background-color: #E27BEB;
    border: 1px solid #000000;
    border-top: none;
    padding: 10px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.repo-card:first-child {
    border-top: 1px solid #000000;
}

.repo-info p {
    margin: 0;
    font-size: 24px;
}

.remove-btn {
    width: 42px;
    height: 38.5px;
    background: none;
    border: none;
    position: relative;
    cursor: pointer;
    padding: 0;
    margin-right: 10px;
}

.remove-btn::before,
.remove-btn::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 4px;
    width: 58px;
    background-color: #FF0000;
}

.remove-btn::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.remove-btn::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

